.rails-logger {
  > .logger-output {
    background-color: #000;
    color: #EEE;
    font-family: monospace;
    font-size: smaller;
    border: 1px solid #666;
    height: 30em;
    overflow-y: scroll;
  }

  > ul.logger-output {
    list-style: none;
    padding: 0;

    > li.process-action {
      color: yellow;
      padding-bottom: 1ex;
      margin-bottom: 1em;
      border-bottom: 1px dashed #333;
    }

    > li.query {
      > .name, .duration { margin-right: 1em; color: #31B8C7 }
      > .duration:before { content: '('; }
      > .duration:after { content: 'ms)'; }
      > .sql { color: #5330B1 }
    }
  }
}

body.log-channel-connected .logger-output { border-color: green; }
body.log-channel-disconnected .logger-output  { border-color: red; }
